<h1 style="margin-top:0">Test: <%=obj.name %></h1>
<form>
<div class="input-group uri">  
    <div class="btn-group input-group-addon method">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="text">GET</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">GET</a></li>
        <li><a href="#">PUT</a></li>
        <li><a href="#">POST</a></li>
        <li><a href="#">DELETE</a></li>
      </ul>
    </div> 
    <div class="input-group-addon base_url"><%=window.base_url%>apps/running/<%=obj.name %>
    </div>
    <input type="text" class="form-control instance_name typeahead path" placeholder="Path" value="/">
    <span class="input-group-btn">
      <button class="btn btn-success pull-right send" type="submit"><i class="fa fa-play"></i> Send</button>
    </span>
</div>
</form>
<label>Payload</label>
<textarea class="form-control"></textarea>
<hr />
<label>Result</label>
<span class="status label label-default hidden">200</span>
<pre class="result"></pre>