<div class="alert alert-danger proxy_missing" role="alert">
	<div class="buttons">
		<a class="btn btn-default" href="https://hudson.eclipse.org/californium/job/tools/lastSuccessfulBuild/artifact/cf-polyfill.jar" target="_blank">Download Cf-Polyfill</a>
		<button class="btn btn-danger">Retry</button>
	</div>
	CoAP polyfill proxy is not running.
</div>
<div class="page-header">
	<h3><i class="fa fa-flask"></i> Actinium Server</h3>
</div>
<form>
	<div class="form-group">
		<label for="workspace_name">Base URI</label>
		<input type="url" class="form-control" id="base_url" value="coap://localhost:5683">
	</div>
	<button type="submit" class="btn btn-block btn-success" data-loading-text="Connecting ..."  id="connect">Connect</button>
</form>
